.package-card {
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(rgba(45, 4, 0, 0.88), rgba(47, 45, 45, 0.96));
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 24px;
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(31, 38, 135, 0.08);
    border: none;
}

.package-card:hover {
    transform: translateY(-7px) scale(1.02);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
}

.package-badge {
    font-size: 1.1rem;
    background: #8f2121;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 0.4em 1em;
    margin-bottom: 1em;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

.package-price {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.currency-symbol {
    font-size: 1rem;
    vertical-align: super;
}

.card-text {
    color: rgb(255, 255, 255);
}

.hero-section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    background-image: url('/Gym/public/images/banner.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-shadow:
        0 0 10px rgb(255, 255, 255),
        0 0 30px rgb(253, 253, 253);
    border-radius: 10px;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }
}

.line-custom {
    border: 1px solid #fff !important;
    margin: 10px 0;
    opacity: 0.5;
}

