.footer {
    background-color: #8f2121;
    color: #fff;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}