.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/Gym/public/images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}